.App {
  text-align: center;
}

.container{
  width: 60%;
  height: 55vh;
  border: 1px solid ;
  background-color: rgb(159, 245, 233);
  border-radius: 6px;
  display: inline-block;
  text-align: left;
  padding: 0 25px;
}

.BtnPage{
  width: 100px;
  padding: 12px;
  background-color: rgb(159, 245, 233);
  box-sizing: border-box;
  margin: 16px;
  border: 1px solid;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;
}

.BtnPage > a:nth-child(1){
  text-decoration: none;
}

.BtnPage:hover,
.BtnPage:active{
  background-color: #eee;
}
